In [3]:
import numpy as np
import scipy.stats as stats
import pandas as pd

In [62]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from scipy.stats import f_oneway

In [5]:
fA = np.array(["low","low","low","low","high","high","high","high"])
fA

array(['low', 'low', 'low', 'low', 'high', 'high', 'high', 'high'],
      dtype='<U4')

In [6]:
fB = np.array(["low","low","high","high","low","low","high","high"])
fB

array(['low', 'low', 'high', 'high', 'low', 'low', 'high', 'high'],
      dtype='<U4')

In [7]:
values = np.array([57,59,56,58,32,34,71,71])
values

array([57, 59, 56, 58, 32, 34, 71, 71])

In [8]:
df = pd.DataFrame({'fA': fA, 'fB': fB, 'values': values })
df

     fA    fB  values
0   low   low      57
1   low   low      59
2   low  high      56
3   low  high      58
4  high   low      32
5  high   low      34
6  high  high      71
7  high  high      71

In [9]:
lm_model = ols ('values ~ C(fA)*C(fB)', data = df).fit()

In [10]:
table = sm.stats.anova_lm(lm_model, type = 2)
table

              df  sum_sq  mean_sq           F    PR(>F)
C(fA)        1.0    60.5     60.5   40.333333  0.003150
C(fB)        1.0   684.5    684.5  456.333333  0.000028
C(fA):C(fB)  1.0   760.5    760.5  507.000000  0.000023
Residual     4.0     6.0      1.5         NaN       NaN

## Задание 1.
Есть ли различие между процентным содержанием изотопов плутония? Используйте функции в Python
Провести предварительный разведочный анализ (проверку на нормальность и равенство дисперсий*)

In [11]:
pu_238 = np.array([0.126, 0.133, 0.127, 0.156, 0.503, 0.113, 0.129, 0.124, 1.022, 1.412, 1.533, 1.534, 1.437, 1.439, 1.375, 1.153, 0.201, 0.176, 0.239, 0.102, 1.070, 0.851, 0.125, 0.142, 0.352, 0.351, 0.346, 0.217, 1.068, 1.171, 1.213, 1.226, 1.111, 0.183, 0.162, 0.113, 1.309, 1.638, 1.589, 1.411, 1.457, 0.397, 0.328, 0.242, 1.367])

In [12]:
pu_239 = np.array([75.804, 75.515, 75.175, 78.872, 73.317, 79.116, 75.751, 75.326, 63.287, 59.553, 58.688, 58.758, 59.728, 59.544, 59.877, 61.182, 78.244, 78.166, 74.254, 79.840, 62.455, 73.189, 75.968, 75.957, 72.885,72.907, 72.919, 76.089, 70.129, 69.273, 69.147, 68.294, 71.076, 75.714, 76.150, 77.845, 62.382, 60.112, 60.519, 61.585, 61.332, 72.291, 73.451, 74.888, 60.507])

In [13]:
pu_240 = np.array([21.204, 21.408, 21.668, 18.428, 20.223, 18.548, 21.162, 21.557, 24.493, 25.576, 25.719, 25.692, 25.146, 25.126, 25.128, 25.100, 18.488, 18.629, 21.515, 17.872, 24.656, 18.285, 20.794, 20.867, 21.718, 21.721, 21.713, 20.225, 18.573, 18.633, 18.640, 18.869, 18.122, 20.750, 20.345, 19.108, 22.754, 23.320, 23.128, 23.133, 23.239, 21.761, 21.429, 20.939, 23.603])

In [14]:
pu_241=np.array([ 2.180, 2.240, 2.305, 1.906, 4.128, 1.690, 2.260, 2.282, 6.990, 8.027, 8.279, 8.261, 8.377, 8.569, 8.428, 7.802, 2.351, 2.365, 2.901, 1.674, 7.512, 5.597, 2.407, 2.341, 3.618, 3.601, 3.600, 2.556, 7.689, 8.300, 8.363, 8.826, 7.248, 2.488, 2.524, 2.275, 9.311, 9.972, 9.970, 9.339, 9.321, 3.836, 3.419, 2.875, 9.839])

In [15]:
stats.shapiro(pu_238) # ненормальное распределение

ShapiroResult(statistic=0.8199635744094849, pvalue=6.733238933520624e-06)

In [16]:
stats.shapiro(pu_239) # ненормальное распределение

ShapiroResult(statistic=0.8647032976150513, pvalue=8.951327617978677e-05)

In [17]:
stats.shapiro(pu_240) # ненормальное распределение

ShapiroResult(statistic=0.9316778182983398, pvalue=0.010755515657365322)

In [18]:
stats.shapiro(pu_241) # ненормальное распределение

ShapiroResult(statistic=0.8336212635040283, pvalue=1.4246789760363754e-05)

In [19]:
from scipy.stats import bartlett 
stats.bartlett(pu_238, pu_239, pu_240, pu_241) # тест на равенство дисперсий (проверяем, если есть нормальность, если ненормально, то тест Кохрана или тест Левене; p value низкий, поэтому не можем использовать критерий Фишера для дисперсионного анализа

BartlettResult(statistic=193.1803716617602, pvalue=1.2547805439253745e-41)

In [20]:
stats.kruskal(pu_238, pu_239, pu_240, pu_241)

KruskalResult(statistic=167.8178522154513, pvalue=3.76478949748032e-36)

## Задание 2.
Даны квартальные прибыли акции Johnson&Johnson с 1960-1980 гг
Есть ли различия прибыли между 4-мя кварталами?
Провести EDA (проверка на нормальность, проверка на однородность дисперсий с помощью Барлетт теста
from scipy.stats import bartlett)
Учитывайте при выборе теста тот факт, что при сбалансированных данных (выборки одинакового объема), неоднородность дисперсий слабо влияет на результат)

In [21]:
JJ_1=np.array([0.71, 0.63, 0.85, 0.44, 0.61, 0.69, 0.92, 0.55, 0.72, 0.77, 0.92, 0.60, 0.83, 0.80, 1.00, 0.77, 0.92, 1.00, 1.24, 1.00, 1.16 ])
JJ_2=np.array([1.30, 1.45, 1.25, 1.26, 1.38, 1.86, 1.56, 1.53, 1.59, 1.83, 1.86, 1.53, 2.07, 2.34, 2.25, 2.16, 2.43, 2.70, 2.25, 2.79, 3.42 ])
JJ_3=np.array([3.69, 3.60, 3.60, 4.32, 4.32, 4.05, 4.86, 5.04, 5.04, 4.41, 5.58, 5.85, 6.57, 5.31, 6.03, 6.39, 6.93, 5.85, 6.93, 7.74,  7.83])
JJ_4=np.array([6.12,  7.74,  8.91,  8.28, 6.84,  9.54, 10.26,  9.54, 8.73, 11.88, 12.06, 12.15, 8.91, 14.04, 12.96, 14.85, 9.99, 16.20, 14.67, 16.02, 11.61 ])

In [22]:
len(JJ_1)

21

In [23]:
stats.shapiro(JJ_1) # нормальное распределение

ShapiroResult(statistic=0.9837696552276611, pvalue=0.9688368439674377)

In [24]:
stats.shapiro(JJ_2)  # нормальное распределение

ShapiroResult(statistic=0.9252572059631348, pvalue=0.11057735979557037)

In [25]:
stats.shapiro(JJ_3)  # нормальное распределение

ShapiroResult(statistic=0.9523220062255859, pvalue=0.3765488862991333)

In [26]:
stats.shapiro(JJ_4)  # нормальное распределение

ShapiroResult(statistic=0.9590807557106018, pvalue=0.49780386686325073)

In [27]:
stats.bartlett(JJ_1, JJ_2, JJ_3, JJ_4) # неоднородные дисперсии, однако объемы выборки одинаковые, поэтому можно игнорировать неоднородность

BartlettResult(statistic=109.62893110687119, pvalue=1.3188378332498392e-23)

In [28]:
stats.f_oneway(JJ_1, JJ_2, JJ_3, JJ_4) # верна альтернативная гипотеза, поэтому статистически значимая разница имеет место

F_onewayResult(statistic=162.03157448390618, pvalue=6.81307443530621e-34)

In [29]:
stats.kruskal(JJ_1, JJ_2, JJ_3, JJ_4) # верна альтернативная гипотеза, поэтому статистически значимая разница имеет место

KruskalResult(statistic=77.04853477998796, pvalue=1.318184789753617e-16)

In [30]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import pandas as pd 

df=pd.DataFrame({"score":[0.71, 0.63, 0.85, 0.44, 0.61, 0.69, 0.92, 0.55, 0.72, 0.77, 0.92, 0.60, 0.83, 0.80, 1.00, 0.77, 0.92, 1.00, 1.24, 1.00, 1.16,
                         1.30, 1.45, 1.25, 1.26, 1.38, 1.86, 1.56, 1.53, 1.59, 1.83, 1.86, 1.53, 2.07, 2.34, 2.25, 2.16, 2.43, 2.70, 2.25, 2.79, 3.42,
                         3.69, 3.60, 3.60, 4.32, 4.32, 4.05, 4.86, 5.04, 5.04, 4.41, 5.58, 5.85, 6.57, 5.31, 6.03, 6.39, 6.93, 5.85, 6.93, 7.74,  7.83,
                         6.12,  7.74,  8.91,  8.28, 6.84,  9.54, 10.26,  9.54, 8.73, 11.88, 12.06, 12.15, 8.91, 14.04, 12.96, 14.85, 9.99, 16.20, 14.67, 16.02, 11.61],
                 "group":np.repeat(["JJ_1","JJ_2","JJ_3","JJ_4"], repeats =21)})

In [31]:
df

    score group
0    0.71  JJ_1
1    0.63  JJ_1
2    0.85  JJ_1
3    0.44  JJ_1
4    0.61  JJ_1
..    ...   ...
79   9.99  JJ_4
80  16.20  JJ_4
81  14.67  JJ_4
82  16.02  JJ_4
83  11.61  JJ_4

[84 rows x 2 columns]

In [32]:
tukey=pairwise_tukeyhsd(df["score"],
                        df["group"],
                        alpha =0.05)
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
  JJ_1   JJ_2   1.1276 0.1281 -0.2088   2.464  False
  JJ_1   JJ_3     4.61  0.001  3.2736  5.9464   True
  JJ_1   JJ_4  10.1986  0.001  8.8622  11.535   True
  JJ_2   JJ_3   3.4824  0.001   2.146  4.8188   True
  JJ_2   JJ_4    9.071  0.001  7.7346 10.4073   True
  JJ_3   JJ_4   5.5886  0.001  4.2522   6.925   True
----------------------------------------------------

#### Между первым и вторым кварталом различий не найдено, между остальными - разиличия существуют

## Задача 4.
Даны веса пациентов
Используйте  alternative='greater‘
alternative=‘less‘
'two-sided'
До 92.8 , 95.6, 92.1, 100.6, 96.2, 92.1, 96.7, 97.6, 97.0, 93.9
После 87.1, 84.1, 81.3, 77.0, 86.0, 82.9, 83.0, 85.5, 85.2, 84.6

In [33]:
before = np.array([92.8 , 95.6, 92.1, 100.6, 96.2, 92.1, 96.7, 97.6, 97.0, 93.9])

In [34]:
after = np.array([87.1, 84.1, 81.3, 77.0, 86.0, 82.9, 83.0, 85.5, 85.2, 84.6])

In [35]:
stats.ttest_rel(before,after, alternative='two-sided') # двусторонний тест

Ttest_relResult(statistic=7.972831441034037, pvalue=2.2744427446816035e-05)

In [36]:
stats.ttest_rel(before,after, alternative='greater') # H0: before > after, H1: before<after -> верна H1

Ttest_relResult(statistic=7.972831441034037, pvalue=1.1372213723408018e-05)

In [37]:
stats.ttest_rel(before,after, alternative='less') # H0: before < after, H1: before > after -> верна H0

Ttest_relResult(statistic=7.972831441034037, pvalue=0.9999886277862766)

## Домашнее задание
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [38]:
a = np.array([173, 175, 180, 178, 177, 185, 183, 182])

In [39]:
b = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])

In [40]:
c = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [41]:
stats.shapiro(a) # нормальное распределение

ShapiroResult(statistic=0.9775081276893616, pvalue=0.9495397210121155)

In [42]:
stats.shapiro(b)  # нормальное распределение

ShapiroResult(statistic=0.9579195976257324, pvalue=0.7763133645057678)

In [43]:
stats.shapiro(c)  # нормальное распределение

ShapiroResult(statistic=0.93868088722229, pvalue=0.5051169991493225)

In [48]:
stats.bartlett(a, b, c)

BartlettResult(statistic=0.4640521043406442, pvalue=0.7929254656083131)

In [52]:
from scipy.stats import f_oneway

In [54]:
f_oneway(a,b,c)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

### Ответ: поскольку p value < 0.05, то верна альтернативная гипотеза - статистически значимая разница между ростом спортсменов существует

In [55]:
# data=pd.DataFrame({"score_1":[173, 175, 180, 178, 177, 185, 183, 182,173, 175, 180, 178, 177, 185, 183, 182,172, 173, 169, 177, 166, 180, 178, 177],
                # "group_1":np.repeat(["a","b","c"], repeats =8)})

In [56]:
#data

In [57]:
#tukey=pairwise_tukeyhsd(data["score_1"],
                        #data["group_1"],
                        #alpha =0.05)
#print(tukey)